button {
  margin: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  border: 1px solid;
}

.element-winning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  border: 1px solid;
  background-color: tomato;
}
