body {
  font-family: "Baloo Tammudu 2", cursive;
}

section {
  margin: 100px;
}

h1 {
  font-size: 3em;
  text-align: center;
}

button {
  margin: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 30px;
  font-size: 2em;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  border: 1px solid;
}

.element-winning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  border: 1px solid;
  background-color: tomato;
}

.info {
  font-size: 1.5em;
}

#announcement {
  font-size: 4em;
}
